<div>
  {{#ui-form oldValue=model.story newValue=model.data  validation="save" cancel="cancel" bigIcon='step forward' smallIcon='edit' header='Title' description='Editing an existing object'}}
    <div class="field">
      <label id="" class="" for="frmEdit-code">Code</label>
      <div id="div-frmEdit-code" class="ui input">
        {{input id="frmEdit-code" value=model.data.code placeholder="Code"}}
      </div>
    </div>
    <div class="field">
      <label id="" class="" for="frmEdit-description">Description</label>
      <div id="div-frmEdit-description" class="ui input">
        {{input id="frmEdit-description" value=model.data.description placeholder="Description"}}
      </div>
    </div>
  {{/ui-form}}
</div>{{outlet}}