<div>
  {{#ui-form oldValue=model.tag newValue=model.data  validation="save" cancel="cancel" bigIcon='tag' smallIcon='edit' header='Tag' description='Editing an existing object'}}
    <div class="field">
      <label id="" class="" for="frmEdit-title">Title</label>
      <div id="div-frmEdit-title" class="ui input">
        {{input id="frmEdit-title" value=model.data.title placeholder="Title"}}
      </div>
    </div>
    <div class="field">
      <label id="" class="" for="frmEdit-color">Color</label>
      <div id="div-frmEdit-color">
        {{multi-select name="color" selected=model.data.color placeholder="Color" elements=model.colors}}
      </div>
    </div>
  {{/ui-form}}
</div>{{outlet}}